styles.css

body {
    background-color: #8b0000;
    font-family: 'Courier New', Courier, monospace;
}

.assignments {
display: flex;
flex-wrap: wrap;

}

.assignment {
    width: 22%;
    padding: 10px;
    margin: 10px;
    padding: 20px 0;
    background: lightblue;
    border-radius: 5px;
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 2px solid #483D8B;
    display: block;
    margin: auto;
}

h1 {
    color:purple;
    text-align: center;
}

h2{
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}
a:hover{
    color: maroon;
}