styles.css

body {
    background-color: #8b0000;
    font-family: 'Courier New', Courier, monospace;
}

.assignment {
    display:flex;
    padding: 10px;
    margin: 10px;
    background: lightblue;
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 2px solid #483D8B;
}

h1 {
    color:purple;
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}
a:hover{
    color: maroon;
}